.project{
    height: 500px;
    color: black;
}

.html-image {
    max-height: 500px;
}

.auto-center-custom{
    margin-top: auto;
    margin-bottom: auto;
}


h1 {
    font-size: 60px;
}

.project-seperation{
    border-right: 1px solid #fff;
    height: 500px;
}

.black-background{
    background-color: black;
    color: white;
}